@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background-color: rgb(11,22,34);
}

.grid-container {
    display: grid;
  }

.title {
    color : red;
}

.header {
    color: rgb(159,173,189);
    font-size: 40px;
    font-family: 'Poppins',sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.table { 
    color: rgb(159,173,189);
}