<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Popular Anime</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/anime.css') }}">
  <script>
   src="index.js"
  </script>
</head>
<body>
  <section class="headerblock">
    <h1> Popular Anime from </h1>
  </section>
  <section class='seasonblock'>
    <div class='time'>
        {% if anime[0]['season'] %}
          {{anime[0]['season']}}
        {% endif %}
    </div>
  </section>
  <section class="yearblock">
    <div class='time'> 
      {% if anime[0]['seasonYear'] %}
        {{anime[0]['seasonYear']}}
      {% endif %}
    </div>
  </section>
  
  <section class="grid"></section>
    {% for entry in anime %}
      <div class="title"> 
        {% if entry['title']['english'] %}
          {{ entry['title']['english']}} 
        {% elif entry['title']['romaji'] %}
          {{ entry['title']['romaji']}}
        {% endif %}
      </div>
      <div class='imagegrid'> 
        <img src="{{entry['coverImage']['large']}}">
      </div>
    {% endfor %} 
  </section>
</body>
</html>