<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Popular Anime</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/anime.css') }}">
  <script>
   src="index.js"
  </script>
</head>
<body>
    <h1 class="header">I wonder what anime was popular back then...</h1>
      <table class="table" border = 1>
            {% for entry in anime %}
                    <tr>
                      <td id="title"> {{ entry['title']['english'] }} </td>
                      <td id='image'> <img src="{{entry['coverImage']['large']}}"> </td>
                    </tr>
                    {% endfor %}
      </table>
</body>
</html>