<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
  <title>Popular Anime!</title>
  <script 
  type='text/javascript'
  src="{{ url_for('static',filename='index.js')}}" >
  </script>
</head>
<body>
  <h1 class = 'header'> I wonder what anime was popular back then...</h1>
    <div id="form">
      <form class = 'form' action = "http://localhost:8000/views" method = "POST">
        <p class="question">What Year <input type = "text" name = "year" /></p>
        <p class="question">What Season <input type = "text" name = "season" /></p>
        <p><input type = "submit" value = "Submit" /></p>
      </form>
    </div>
</body>
</html>

